__pycache__/
data/**
wandb/**
POLL_BLKC/**
baseline_codebases/CELL_FedAvg_Standalone_PoIS/data/**
baseline_codebases/LotteryFL/data/**
*.pyc
.DS_Store

logs/**
!logs/
!logs/init_global_model_seed_30.pth
!logs/init_global_model_seed_40.pth
!logs/init_global_model_seed_50.pth